@{
    string libertyart = "@libertyart";
    string davidwalker = "@davidwalker";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Liberty Template - NFT Item Detail Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/AnaSayfa/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/AnaSayfa/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/AnaSayfa/assets/css/templatemo-liberty-market.css">
    <link rel="stylesheet" href="~/AnaSayfa/assets/css/owl.css">
    <link rel="stylesheet" href="~/AnaSayfa/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 577 Liberty Market

    https://templatemo.com/tm-577-liberty-market

    -->
</head>

<body>

    <div>
        @RenderBody()
    </div>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/AnaSayfa/index.html" class="logo">
                            <img src="~/AnaSayfa/assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/Sayfa/MainPage" class="active">Home</a></li>
                            <li><a href="/Sayfa/Games">Oyunlar</a></li>
                            <li><a href="/Sayfa/Favorites">Favoriler</a></li>
                            <li><a href="/Sayfa/Likes">Beğenilenler</a></li>
                            <li><a href="/Sayfa/Purchases">Satın Alınanlar</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="item-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Satın Alınanlar</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="current-bid">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/star-stuff.jpg" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Star Stuff</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/dauntless.jpg" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Dauntless</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/marvel-rivals.png" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Marvel Rivals</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/cataclismo.jpg" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Cataclismo</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/valorant.jpg" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Volarant</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="left-img">
                                        <img src="~/AnaSayfa/assets/images/Oyunlar/asurajang.png" alt="">
                                    </div>
                                    <div class="right-content">
                                        <h4>Asurajang</h4>
                                        <div class="line-dec"></div>
                                        <span class="date">24/07/2022, 22:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                        &nbsp;&nbsp;
                        Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/AnaSayfa/vendor/jquery/jquery.min.js"></script>
    <script src="~/AnaSayfa/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/AnaSayfa/assets/js/isotope.min.js"></script>
    <script src="~/AnaSayfa/assets/js/owl-carousel.js"></script>

    <script src="~/AnaSayfa/assets/js/tabs.js"></script>
    <script src="~/AnaSayfa/assets/js/popup.js"></script>
    <script src="~/AnaSayfa/assets/js/custom.js"></script>
</body>
</html>