@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/PersonelSayfasi/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/PersonelSayfasi/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/PersonelSayfasi/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/style.css">


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body>

	<div>
		@RenderBody()
	</div>

	<div class="header">

		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll">
							<ul>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/img.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo1.jpg" alt="">
										<h3>Lea R. Frith</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo2.jpg" alt="">
										<h3>Erik L. Richards</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo3.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo4.jpg" alt="">
										<h3>Renee I. Hansen</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/img.jpg" alt="">
										<h3>Vicki M. Coleman</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="~/PersonelSayfasi/vendors/images/photo1.jpg" alt="">
						</span>
						<span class="user-name">Ross C. Lopez</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="~/PersonelSayfasi/profile.html"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="~/PersonelSayfasi/login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/Sayfa/PersonelSayfasi">
				<img src="~/PersonelSayfasi/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
				<img src="~/PersonelSayfasi/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">

					<li class="dropdown">
						<a href="/Sayfa/PersonelSayfasi" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="AddGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-ekle.png"
								 alt="Oyun Ekle"
								 class="dynamic-icon">
							<span class="mtext">Oyun Ekle</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="OrganizeGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-duzenle.png"
								 alt="Oyun Düzenle"
								 class="dynamic-icon">
							<span class="mtext">Oyun Düzenle</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="DeleteGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-sil.png"
								 alt="Oyun Sil"
								 class="dynamic-icon">
							<span class="mtext">Oyun Sil</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Form</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/Sayfa/PersonelSayfasi">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Oyun Sil</li>
								</ol>
							</nav>
						</div>

					</div>
				</div>

				<!-- Oyun Silme Formu -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Oyun Sil</h4>
							<p class="mb-30">Silmek istediğiniz oyunun bilgilerini giriniz.</p>
						</div>
					</div>

					<form id="deleteGameForm">
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Oyun Kodu</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="gameCode" id="deleteGameCode" placeholder="KDS152" required>
								<small class="form-text text-muted">Silmek istediğiniz oyunun benzersiz kodu</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Oyun Adı</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="gameName" id="deleteGameName" placeholder="Oyun Adı" required>
								<small class="form-text text-muted">Silmek istediğiniz oyunun tam adı</small>
							</div>
						</div>

						<!-- Oyun Bilgilerini Gösterme Alanı -->
						<div id="gameInfoContainer" style="display:none;" class="mt-4 mb-4 p-3 border rounded">
							<h5 class="text-blue">Silinecek Oyun Bilgileri</h5>
							<div class="row">
								<div class="col-md-6">
									<p><strong>Oyun Kodu:</strong> <span id="displayGameCode"></span></p>
									<p><strong>Oyun Adı:</strong> <span id="displayGameName"></span></p>
									<p><strong>Fiyat:</strong> <span id="displayGamePrice"></span> ₺</p>
								</div>
								<div class="col-md-6">
									<p><strong>Türler:</strong> <span id="displayGameGenres"></span></p>
									<p><strong>Eklenme Tarihi:</strong> <span id="displayGameDate"></span></p>
								</div>
							</div>
							<div class="mt-2">
								<p><strong>Açıklama:</strong></p>
								<p id="displayGameDescription" class="text-muted"></p>
							</div>
						</div>

						<!-- Silme Butonu -->
						<div class="form-group row">
							<div class="col-sm-12 col-md-10 offset-md-2">
								<button type="button" id="verifyGameBtn" class="btn btn-warning">
									<i class="dw dw-check"></i> Oyun Bilgilerini Doğrula
								</button>
								<button type="submit" id="deleteGameBtn" class="btn btn-danger" style="display:none;">
									<i class="dw dw-delete-3"></i> Oyunu Sil
								</button>
							</div>
						</div>

						<!-- Confirmation Modal (Bu kısmı HTML'in body kısmına ekleyin) -->
						<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Silme İşlemini Onayla</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p><strong><span id="gameToDeleteName"></span></strong> adlı oyunu silmek üzeresiniz. Bu işlem geri alınamaz!</p>
										<p>Devam etmek istediğinize emin misiniz?</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır, Vazgeç</button>
										<button type="button" id="confirmDeleteBtn" class="btn btn-danger">Evet, Sil</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Success Modal (Silme işlemi başarılı olduğunda gösterilecek) -->
						<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header bg-success text-white">
										<h5 class="modal-title">Başarılı</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p><i class="icon-copy dw dw-checked"></i> <strong><span id="deletedGameName"></span></strong> adlı oyun başarıyla silinmiştir.</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal">Tamam</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="~/PersonelSayfasi/vendors/scripts/core.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/script.min.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/process.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/layout-settings.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/DeleteGame.js"></script>
</body>
</html>