@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/PersonelSayfasi/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/PersonelSayfasi/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/PersonelSayfasi/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="~/PersonelSayfasi/vendors/styles/style.css">


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body>

	<div>
		@RenderBody()
	</div>

	<div class="header">

		<div class="header-right">
			<div class="dashboard-setting user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
						<i class="dw dw-settings2"></i>
					</a>
				</div>
			</div>
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll">
							<ul>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/img.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo1.jpg" alt="">
										<h3>Lea R. Frith</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo2.jpg" alt="">
										<h3>Erik L. Richards</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo3.jpg" alt="">
										<h3>John Doe</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/photo4.jpg" alt="">
										<h3>Renee I. Hansen</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="~/PersonelSayfasi/vendors/images/img.jpg" alt="">
										<h3>Vicki M. Coleman</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="~/PersonelSayfasi/vendors/images/photo1.jpg" alt="">
						</span>
						<span class="user-name">Ross C. Lopez</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="~/PersonelSayfasi/profile.html"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="~/PersonelSayfasi/login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="right-sidebar">
		<div class="sidebar-title">
			<h3 class="weight-600 font-16 text-blue">
				Layout Settings
				<span class="btn-block font-weight-400 font-12">User Interface Settings</span>
			</h3>
			<div class="close-sidebar" data-toggle="right-sidebar-close">
				<i class="icon-copy ion-close-round"></i>
			</div>
		</div>
		<div class="right-sidebar-body customscroll">
			<div class="right-sidebar-body-content">
				<h4 class="weight-600 font-18 pb-10">Header Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
				</div>

				<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
				<div class="sidebar-btn-group pb-30 mb-10">
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
					<a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
				</div>

				<div class="reset-options pt-30 text-center">
					<button class="btn btn-danger" id="reset-settings">Reset Settings</button>
				</div>
			</div>
		</div>
	</div>

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/Sayfa/PersonelSayfasi">
				<img src="~/PersonelSayfasi/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
				<img src="~/PersonelSayfasi/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">

					<li class="dropdown">
						<a href="/Sayfa/PersonelSayfasi" class="dropdown-toggle">
							<span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="AddGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-ekle.png"
								 alt="Oyun Ekle"
								 class="dynamic-icon">
							<span class="mtext">Oyun Ekle</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="OrganizeGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-duzenle.png"
								 alt="Oyun Düzenle"
								 class="dynamic-icon">
							<span class="mtext">Oyun Düzenle</span>
						</a>
					</li>

					<li class="dropdown">
						<a asp-controller="Sayfa" asp-action="DeleteGame" class="dropdown-toggle">
							<img src="/PersonelSayfasi/src/images/oyun-ekle-duzenle-sil-icon/oyun-sil.png"
								 alt="Oyun Sil"
								 class="dynamic-icon">
							<span class="mtext">Oyun Sil</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Form</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/Sayfa/PersonelSayfasi">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Oyun Düzenle</li>
								</ol>
							</nav>
						</div>

					</div>
				</div>

				<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Oyun Düzenle</h4>
							<p class="mb-30">Oyun bilgilerini aşağıdan düzenleyebilirsiniz</p>
						</div>
					</div>

					<!-- Oyun Düzenleme Formu -->
					<form id="editGameForm">
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Oyun Kodu</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="gameCode" id="editGameCode" value="KDS152" required>
								<small class="form-text text-muted">Oyunun benzersiz tanımlayıcı kodu</small>
							</div>
						</div>

						<!-- Resim Yönetimi - Ana Resim -->
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Ana Resim</label>
							<div class="col-sm-12 col-md-10">
								<div id="mainImageContainer" style="display:none; position: relative; margin-bottom: 15px;">
									<img id="mainImagePreview" src="#" class="img-thumbnail"
										 style="width: 300px; height: 400px; object-fit: cover;">
									<span class="delete-image-btn" onclick="removeMainImage()"
										  style="position: absolute; top: 5px; right: 630px; background: red; color: white; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; cursor: pointer;">×</span>
								</div>
								<input type="file" class="form-control-file" id="mainImageUpload" accept="image/*">
								<small class="form-text text-muted">Yeni ana resim seçin (1:1.85 oran önerilir)</small>
							</div>
						</div>

						<!-- Resim Yönetimi - İçerik Resimleri -->
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">İçerik Resimleri</label>
							<div class="col-sm-12 col-md-10">
								<div id="contentImagesContainer" style="display:none; margin-bottom: 15px;">
									<div id="contentImagesPreview" class="d-flex flex-wrap"></div>
								</div>
								<input type="file" class="form-control-file" id="contentImagesUpload" multiple accept="image/*">
								<small class="form-text text-muted">Yeni içerik resimleri seçin (Maksimum 4 adet)</small>
							</div>
						</div>

						<!-- Oyun Bilgileri -->
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Oyun Adı</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="text" name="gameName" id="editGameName" value="Örnek Oyun Adı" required>
							</div>
						</div>

						<!-- Türler (Checkbox listesi + Yeni Tür Ekleme) -->
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Türler</label>
							<div class="col-sm-12 col-md-10">
								<!-- Varsayılan Türler -->
								<div id="default-genres">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeAction" value="Aksiyon">
										<label class="form-check-label" for="typeAction">Aksiyon</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeAdventure" value="Macera">
										<label class="form-check-label" for="typeAdventure">Macera</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeRPG" value="Rol yapma">
										<label class="form-check-label" for="typeRPG">Rol yapma</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeSimulation" value="Simülasyon">
										<label class="form-check-label" for="typeSimulation">Simülasyon</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeStrategy" value="Strateji">
										<label class="form-check-label" for="typeStrategy">Strateji</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeHorror" value="Korku">
										<label class="form-check-label" for="typeHorror">Korku</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeRacing" value="Yarış">
										<label class="form-check-label" for="typeRacing">Yarış</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeSports" value="Spor">
										<label class="form-check-label" for="typeSports">Spor</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typeFighting" value="Dövüş">
										<label class="form-check-label" for="typeFighting">Dövüş</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" name="gameTypes" id="typePuzzle" value="Bulmaca">
										<label class="form-check-label" for="typePuzzle">Bulmaca</label>
									</div>
								</div>

								<!-- Özel Tür Ekleme -->
								<div class="custom-genre mt-3">
									<div class="input-group mb-2">
										<input type="text" class="form-control" id="newGenre" placeholder="Yeni tür adı giriniz">
										<div class="input-group-append">
											<button class="btn btn-outline-primary" type="button" id="addGenreBtn">Tür Ekle</button>
										</div>
									</div>
									<small class="form-text text-muted">Listede olmayan bir tür eklemek için yazıp 'Tür Ekle' butonuna basın</small>
								</div>

								<!-- Eklenen Özel Türler -->
								<div id="customGenresContainer" class="mt-2"></div>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Fiyat (₺)</label>
							<div class="col-sm-12 col-md-10">
								<input class="form-control" type="number" name="price" id="editPrice" step="0.01" min="0" required>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Açıklama</label>
							<div class="col-sm-12 col-md-10">
								<textarea class="form-control" name="description" id="editDescription" rows="5" required></textarea>
							</div>
						</div>

						<!-- Kaydet Butonu -->
						<div class="form-group row">
							<div class="col-sm-12 col-md-10 offset-md-2">
								<button type="submit" class="btn btn-primary">
									<i class="dw dw-save"></i> Değişiklikleri Kaydet
								</button>
							</div>
						</div>
					</form>
				</div>


			</div>

			<div class="footer-wrap pd-20 mb-20 card-box">
				DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="~/PersonelSayfasi/vendors/scripts/core.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/script.min.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/process.js"></script>
	<script src="~/PersonelSayfasi/vendors/scripts/layout-settings.js"></script>
		<script src="~/PersonelSayfasi/vendors/scripts/OrganizeGame.js"></script>
</body>
</html>